# Configuration file

####################
# afkhandler
#===================
# Settings for controlling autobattler for AFK players
####################

afkhandler {
    # Sets the time (in seconds) before a player in battle is declared to be AFK and the autobattle code takes over for them
    I:"AFK Activation Time Length"=90

    # Sets the time (in seconds) that the autobattle code allows for AFK player to move once autobattle is active, before selecting a move itself
    I:"AFK Activation Turn Time"=15

    # Have autobattle take over if player is AFK during a battle, activates after specified time period and gives specified time for each turn after that
    B:"AFK Handler Active"=false
}


####################
# general
#===================
# General settings for the world
####################

general {
    # Allow player to throw pokeballs from hotbar, if false pokeballs can only be thrown in battles
    B:"Allow Capturing Outside of Battle"=true

    # Allows players to make rare candies by crafting (Serverside option)
    B:"Allow Crafting of Rare Candy"=true

    # Determines if player vs player battles give pokemon experience, no EXP gain in PVP when false
    B:"Allow PVP Experience"=true

    # Allow players to plant apricorns/berries in the ground
    B:"Allow Planting"=true

    # Allow players to ride pokemon. If false no pokemon can be ridden. (Server side option)
    B:"Allow Riding"=true

    # Allow random generation of structures such as Pokecenters, Shrines, and other buildings if true
    B:"Allow Structures to Spawn"=true

    # Allow the anvil to replace finished items with starting item from player's inventory without manual placing
    B:"Allow anvil autoreloading"=false

    # Allow the player to nickname pokemon (not a server-wide setting, just a client setting)
    B:"Allow pokemon nicknames"=true

    # Allow creepers, skeletons, etc to spawn in the world - DANGER can kill you while battling
    B:"Allow vanilla mobs"=false

    # Set legendary shrines to one use (false) or multiple use (true)
    B:"Bird Shrines are reusable"=false

    # Allow Players to use Cloning Machines to clone Mew to Mewtwo
    B:"Cloning Machines Enabled"=true

    # Requires HM move Fly or HM move Surf on a pokemon to be able to ride it
    B:"Have HM To Ride"=false

    # Sets how far pixelmon names and levels can be seen from (client setting only)
    I:"Nameplate Visible Range Modifier (1=default, 2=farther, 3=far)"=1

    # Allows wild pokemon to drop items like feathers, etc on death
    B:"Pokemon Drops Enabled"=true

    # Prints more detailed error messages to the server.log file if enabled
    B:"Print Errors"=false

    # Removes regular minecraft music so only Pixelmon music plays (Currently locked to true in code)
    B:"Remove Minecraft Music"=true

    # Increases Size of Pixelmon Models in Game by 30%
    B:"Scale Models Up"=true

    # Sends Statistics To Pixelmon
    B:"Send Statistics"=true

    # Allow Legendary Bird Shrines to Spawn Randomly in World
    B:"Spawn Bird Shrines"=true

    # Battle camera rotates around player if true, and is stationary if false
    B:"Spin Battle Camera"=true

    # Sets Trainer Rarity, higher values spawn trainers more often, 0 spawns no trainers
    I:"Trainer Rarity (percentage 0-200)"=50

    # Sets the mode of animation for Pixelmon models (false increases ram usage)
    B:"Use Static Models"=true

    # Use the low-res (256x256) pokemon and pokeball textures
    B:"Use low-res Textures"=false

    # Allows some wild pokemon to aggro on player and force battles, no forced battles when false
    B:"Wild Pokemon initiate battles"=true

    # Saves Pixelmon entities to file when world saves (greatly increases savefile size and save time if true
    B:"Write Entities To World Save"=false
}


####################
# ids
#===================
# Entity IDs for Pixelmon Entities (DO NOT CHANGE, unless you know what you are doing)
####################

ids {
    I:"Camera ID"=202
    I:"Pixelmon ID"=200
    I:"Pokeball ID"=201
    I:"Trainer ID"=199
}


####################
# pokeloot
#===================
# Settings for controlling pokeloot chest spawns and behavior
####################

pokeloot {
    # Sets the frequency of chests spawning in world (to disable completely use the '- Enabled' config settings)
    # Minimal ~ 1 per 64 chunks, Normal ~ 1 per 32 chunks, More ~ 1 per 18 chunks, Extreme ~ 1 per 10 chunks
    I:"Chest Spawn Rate (Minimal=0,Normal=1,More=2,Extreme=3)"=1

    # Sets the Mode of all randomly spawned pokeloot chests
    # FCFS = First Come First Serve, only one player can loot chest, then chests vanishes
    # PL1D = Player 1 Drop, chest gives one drop per person, chest remains for others to use once each
    # PUD = Player Unlimited Drops, chests can be used infinitely by all players
    # TIMED = Each player allowed to loot again after specified time interval (individual timers), chest remains after looting
    I:"Default Spawn Mode (FCFS=0, PL1D=1, PUD=2, TIMED=3)"=0

    # Allow Hidden Grottos to spawn in the world
    B:"Hidden Grotto -  Enabled"=true

    # Allows invisible pokechests to spawn around the world randomly
    B:"Hidden PokeChest - Enabled"=true

    # Allows normal visible pokechests to spawn around the world randomly
    B:"Normal PokeChest - Enabled"=true

    # Sets Frequency that a player can reuse a timed loot chest (both placed in creative and naturally spawned, if set to TIMED
    # Time Conversions: One Hour = 3600 seconds, One Day = 86400 seconds, One Week = 604800 seconds
    I:"Timed Loot (seconds)"=86400
}


####################
# spawning
#===================
# Settings that control what Pixelmon spawn and how many spawn
####################

spawning {
    # Allow wild legendaries to spawn (besides specific event spawns)
    B:"Allow Legendaries to spawn"=true

    # Displays server-wide announcement 'A Legendary Has Spawned in <name> Biome' when legendary spawns
    B:"Display global message on legendary spawn"=true

    # Sets whether Generation 1 Pixelmon will be spawned or not (Pokedex 1-151)
    B:Gen1=true

    # Sets whether Generation 2 Pixelmon will be spawned or not (Pokedex 152-251)
    B:Gen2=true

    # Sets whether Generation 3 Pixelmon will be spawned or not (Pokedex 252-386)
    B:Gen3=true

    # Sets whether Generation 4 Pixelmon will be spawned or not (Pokedex 387-493)
    B:Gen4=true

    # Sets whether Generation 5 Pixelmon will be spawned or not (Pokedex 494-649)
    B:Gen5=true

    # Sets whether Generation 6 Pixelmon will be spawned or not (Pokedex 650-719)
    B:Gen6=true

    # Sets odds of Legendary Spawning (1 in X spawns), higher values spawn wild legendaries less often
    I:"Legendary Spawn Rate"=15000

    # Sets max number of flying pokemon in world at a time (higher numbers = more spawns) (KEEP THIS LOW)
    I:"Max number of Air Pokemon (at one time)"=2

    # Sets max number of land pokemon in world at a time (higher numbers = more spawns)
    I:"Max number of Land Pokemon (at one time)"=40

    # Sets max number of underground pokemon in world at a time (higher numbers = more spawns)
    I:"Max number of Underground Pokemon (at one time)"=20

    # Sets max number of water pokemon in world at a time (higher numbers = more spawns)
    I:"Max number of Water Pokemon (at one time)"=20
}


####################
# starter_settings
####################

starter_settings {
    I:"Level (min=5, max=100"=5
    B:Shiny=false
}


####################
# starters
####################

starters {
    S:"1 - First Choice"=Bulbasaur
    S:"2 - Second Choice"=Squirtle
    S:"3 - Third Choice"=Charmander
    S:"4 - Fourth Choice"=Chikorita
    S:"5 - Fifth Choice"=Totodile
    S:"6 - Sixth Choice"=Cyndaquil
    S:"7 - Seventh Choice"=Treecko
    S:"8 - Eighth Choice"=Mudkip
    S:"9 - Ninth Choice"=Torchic
    S:"_10 - Tenth Choice"=Turtwig
    S:"_11 - Eleventh Choice"=Piplup
    S:"_12 - Twelfth Choice"=Chimchar
    S:"_13 - Thirteenth Choice"=Snivy
    S:"_14 - Fourteenth Choice"=Oshawott
    S:"_15 - Fifteenth Choice"=Tepig
}


